.add {
  width: 100%;
  font-size: 13px;
}
.add .user {
  margin-bottom: 20px;
}
.add .user .user_title {
  padding: 5px 0;
  font-weight: bold;
}
.add .content {
  margin-bottom: 10px;
}
.add .content .content_title {
  padding: 5px 0;
  font-weight: bold;
}
.add .submit {
  display: flex;
  justify-content: flex-end;
}
.add .submit button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}
.add .input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline-color: #66afe9;
}
